<!DOCTYPE html>
<html lang="zh-CN">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {% if page.layout == "default" and page.url != "/" and paginator == nil %}<div id="main-content">{% endif %}
    {{ content }}
    {% if page.layout == "default" and page.url != "/" and paginator == nil %}</div>{% endif %}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/apple-touch-icon.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
